<div class="border-fuchsia-800 border-2 p-2 m-2 flex flex-col items-center">
    <button
      class="rounded p-2 m-2 hover:scale-105 text-xs"
      (click)="loadBreedImages()"
      [ngClass]="{
        'bg-gray-500 text-gray-100': isButtonDisabled,
        'bg-black text-white hover:scale-105': !isButtonDisabled
      }"
      [disabled]="isButtonDisabled"
    >
      Reload Images
    </button>
  
    <div *ngIf="breedImages.length > 0; else noImages">
      <div class="flex flex-wrap">
        <div
          *ngFor="let image of breedImages"
          class="flex w-1/3 p-2 justify-evenly"
        >
          <div class="relative w-72 h-48">
            <img
              [src]="image"
              alt="BREED dog"
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noImages>
      <p class="text-red-600">ERROR: no images found!</p>
    </ng-template>
  </div>
  