<div class="grid grid-cols-2 py-10">
    <div class="flex flex-col m-10">
        <h3 class="text-sm text-purple-950 italic">Note Taking Platform</h3>
        <h1 class="text-6xl font-bold text-blue-950">Keep track of Tasks</h1>
        <p class="py-7 text-purple-950 text-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <div class="flex justify-center">
        <img src="/assets/notes.png" alt="Image" class="w-96 min-h-96 object-cover p-10 ">
    </div>
</div>