<div class="border-fuchsia-800 border-2 p-2 m-2 flex flex-col items-center">
    <div *ngIf="images.length > 0; else noImages">
      <div class="flex flex-wrap">
        <div *ngFor="let image of images" class="flex w-1/3 p-2 justify-evenly">
          <div class="relative w-72 h-48">
            <img
              [src]="image.url"
              alt="BREED dog"
              class="absolute inset-0 w-full h-full object-cover rounded-lg"
            />
          </div>
          <button
            class="text-base text-white font-medium bg-red-600 rounded p-2 hover:scale-105"
            (click)="deleteImage(image)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  
    <ng-template #noImages>
      <p class="text-red-600">ERROR: no images found!</p>
    </ng-template>
  </div>
  